{% extends "base.html" %}
{% block container %}
<div class="col-md-12">
	<div class="card">
		<div class="card-header card-header-icon" data-background-color="blue">
			<i class="material-icons"><font style="vertical-align: inherit;">people</font></i>
		</div>
		<div class="card-content">
			<h4 class="card-title"><font style="vertical-align: inherit;">Cadastrar Novo Lider</font></h4>
			<form method="POST">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-4">
						<div class="form-group label-floating is-empty">
							<label class="control-label"><font style="vertical-align: inherit;">Nome de Usuario</font></label>
							{{ form.username.errors }}
							{{form.username}}
							<span class="material-input"></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group label-floating is-empty">
							<label class="control-label"><font style="vertical-align: inherit;">Nome</font></label>
							{{ form.first_name.errors }}
							{{form.first_name}}
							<span class="material-input"></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group label-floating is-empty">
							<label class="control-label"><font style="vertical-align: inherit;">Sobrenome</font></label>
							{{ form.last_name.errors }}
							{{form.last_name}}
							<span class="material-input"></span>
						</div>
					</div>
				</div>
				
				<div class="row">
					<div class="col-md-4">
						<div class="form-group label-floating is-empty">
							<label class="control-label"><font style="vertical-align: inherit;">Email</font></label>
							{{ form.email.errors }}
							{{form.email}}
							<span class="material-input"></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group label-floating is-empty">
							<label class="control-label"><font style="vertical-align: inherit;">Senha</font></label>
							{{ form.password1.errors }}
							{{form.password1}}
							<span class="material-input"></span>
						</div>
					</div>
					<div class="col-md-4">
						<div class="form-group label-floating is-empty">
							<label class="control-label"><font style="vertical-align: inherit;">Confirmação de Senha</font></label>
							{{ form.password2.errors }}
							{{form.password2}}
							<span class="material-input"></span>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<div class="form-group label-floating is-empty">
							<small>S. Ministerial </small>
							{{ form.ministry.errors }}
							{{form.ministry}}
							<span class="material-input"></span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group label-floating is-empty">
							<small>Lider de Geração</small>
							{{ form.leader.errors }}
							{{form.leader}}
							<span class="material-input"></span>
						</div>
					</div>
					<div class="col-md-3">
						<div class="form-group label-floating is-empty">
							<small>Sexo</small>
							{{ form.sex.errors }}
							{{form.sex}}
							<span class="material-input"></span>
						</div>
					</div>
					<div class="col-md-4">
						<small>Função</small>
						<div class="form-group label-floating is-empty">
							
							{{form.is_cell_leader}}<b> Lider de Célula</b><br/>
							{{form.is_generation_leader}}<b> Lider de Geração</b><br/>
							{{form.is_teacher}}<b> Professor</b><br/>
							<span class="material-input"></span>
						</div>
					</div>
				</div>				
				
				<button type="submit" class="btn btn-sucess  pull-right"><font style="vertical-align: inherit;"><font style="vertical-align:inherit;">Salvar</font></font></button>
			</form>
		</div>
	</div>
</div>

{% endblock container %}