{% extends "base.html" %}
{% load static %}
{% block title %}
BethCell - Acompanhamento de Células
{% endblock title %}
{% block container %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="orange">
                        <i class="material-icons">cake</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Aniversários</p>
                        <h3 class="card-title">{{aniversarios}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">cake</i> <a href="{% url 'aniversariantes' %}">Visualisar...</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="rose">
                        <i class="material-icons">location_city</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Gerir Células</p>
                        <h3 class="card-title"> <i class="material-icons">location_city</i></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">location_city</i><a href="{% url 'gestao_celular' %}">Gerenciar...</a> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">monetization_on</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Financeiro</p>
                        <h3 class="card-title"><font size="3">R$ 35.245,00</font></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">monetization_on</i><a href="#">Gerenciar...</a> 
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="blue">
                        <i class="material-icons">school</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Escola</p>
                        <h3 class="card-title">5</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">school</i> <a href="#">Gerenciar...</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header card-header-icon" data-background-color="green">
                        <i class="material-icons">star</i>
                    </div>
                    <div class="card-content">
                        <h4 class="card-title">Líderes de 12: <strong>Luiz Morais de Sampaio</strong></h4>
                        <div class="row">                            
                            <div class="table-responsive table-sales">

                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th><strong>Nº</strong></th>
                                            <th><strong>Lider</strong></th>
                                            <th class="text-center"><strong>Celulas</strong></th>
                                            <th class="text-center"><strong>Discípulos</strong></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="flag">
                                                    1
                                                </div></td>
                                                <td>Ismael José de Sousa</td>
                                                <td class="text-center">
                                                    5
                                                </td>
                                                <td class="text-center">
                                                    40
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <div class="flag">
                                                        2
                                                    </div></td>
                                                    <td>Cláuder Sabino</td>
                                                    <td class="text-center">
                                                        1
                                                    </td>
                                                    <td class="text-center">
                                                        18
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="flag">
                                                            3
                                                        </div>
                                                    </td>
                                                    <td>Orlando Aguiar</td>
                                                    <td class="text-center">
                                                        2
                                                    </td>
                                                    <td class="text-center">
                                                        17
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="flag">
                                                            4
                                                        </div></td>
                                                        <td>Odair Sávio</td>
                                                        <td class="text-center">
                                                            1
                                                        </td>
                                                        <td class="text-center">
                                                            8
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <div class="flag">
                                                                5
                                                            </div></td>
                                                            <td>Adílio Francisco Portela Pereira</td>
                                                            <td class="text-center">
                                                                1
                                                            </td>
                                                            <td class="text-center">
                                                                7
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-icon" data-background-color="green">
                                        <i class="material-icons">star</i>
                                    </div>
                                    <div class="card-content">
                                        <h4 class="card-title">Líderes de 12: <strong>Maria Sampaio</strong></h4>
                                        <div class="row">                            
                                            <div class="table-responsive table-sales">
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th><strong>Nº</strong></th>
                                                            <th><strong>Lider</strong></th>
                                                            <th><strong>Celulas</strong></th>
                                                            <th><strong>Discípulos</strong></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>
                                                                <div class="flag">
                                                                    1
                                                                </div></td>
                                                                <td>Maria Deusiane de Sousa Machado</td>
                                                                <td class="text-center">
                                                                    12
                                                                </td>
                                                                <td class="text-center">
                                                                    55
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <div class="flag">
                                                                        2
                                                                    </div></td>
                                                                    <td>Maria Francisca de Sousa Silva</td>
                                                                    <td class="text-center">
                                                                        2
                                                                    </td>
                                                                    <td class="text-center">
                                                                        35
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <div class="flag">
                                                                            3
                                                                        </div></td>
                                                                        <td>Cinthia Satiro Costa</td>
                                                                        <td class="text-center">
                                                                            4
                                                                        </td>
                                                                        <td class="text-center">
                                                                            34
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>
                                                                            <div class="flag">
                                                                                4
                                                                            </div></td>
                                                                            <td>Katia Cilene dos Santos Sousa de Brito</td>
                                                                            <td class="text-center">
                                                                                3
                                                                            </td>
                                                                            <td class="text-center">
                                                                                30
                                                                            </td>
                                                                        </tr>
                                                                        
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </br>
                                    <div class="row">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="card">
                                                <div class="card-header card-header-text" data-background-color="green">
                                                    <h4 class="card-title">CONQUISTADORES TOP 12</h4>
                                                    <p class="category">Classificação dos Líderes de Células que mais crescem!</p>
                                                </div>
                                                <div class="card-content table-responsive">
                                                    <table class="table table-hover">
                                                        <thead>
                                                            <th class="text-left"><font color="green"><strong>Top</strong></font></th>
                                                            <th><font color="green"><strong>Nome</strong></font></th>
                                                            <th class="text-center"><font color="green"><strong>Discípulos</strong></font></th>
                                                            <th class="text-center"><font color="green"><strong>Novos</strong></font></th>
                                                        </thead>
                                                        <tbody>
                                                            {% for celula in celulas %}                 
                                                            <tr>
                                                                <td class="text-left">{{celula.id}}</td>
                                                                <td>{{celula.leader}}</td>
                                                                <td class="text-center">{{celula.number_of_discipulos}}</td>
                                                                <td class="text-center">{{celula.discipulo_set.count}}</td>
                                                            </tr>  
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endblock  %}