{% extends "base.html" %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
{% block container %}
<div class="col-md-12">
    <div class="card">
        <div class="card-header card-header-icon" data-background-color="rose">
            <i class="material-icons"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">people</font></font></i>
        </div>
        <div class="card-content">
            <h3 class="card-title text-center"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cadastrar Novo Discipulo</font></font></h3>
            <form method="POST">
                {% csrf_token %}
                <h3> <i class="material-icons"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">perm_identity</font></font></i> Dados Pessoais</h3>
                <div class="row">
               		 <div class="col-md-3">
                        <div class="form-group ">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nome</font></font></label>
                            {{form.nome}}
                            <span class="material-input"></span>
                        </div>
                    </div>
                     <div class="col-md-3">
                        <div class="form-group ">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Data de Nascimento</font></font></label>
                            {{form.nascimento}}
                            <span class="material-input"></span>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Sexo</font></font></label>
                        {{ form.sexo.errors }}
                        {{form.sexo}}
                        <span class="material-input"></span>
                    </div>
                    <div class="col-md-3">   
                        <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nome do Lider</font></font></label>
                        {{ form.lider_de_rede.errors }}
                        {{form.lider_de_rede}}
                    </div>
                 
                </div>
                <h3> <i class="material-icons"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">perm_phone_msg</font></font></i> Contato</h3>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">E-mail</font></font></label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cel/Whatsapp</font></font></label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Facebook</font></font></label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>              
                <h3> <i class="material-icons"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">notes</font></font></i> Sobre</h3>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Data de Conversão</font></font></label>
                            {{ form.data_conversao.errors}}
                            {{form.data_conversao}}
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Data de Encontro</font></font></label>
                            {{ form.data_encontro.errors }}
                            {{form.data_encontro}}
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group label-floating ">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Data de Batismo</font></font></label>
                            {{ form.data_batismo.errors }}
                            {{form.data_batismo}}
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group label-floating ">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Escolaridade</font></font></label>
                            {{ form.escolaridade.errors }}
                            {{form.escolaridade}}
                            <span class="material-input"></span>
                        </div>
                    </div>
                     <div class="col-md-2">
                        <div class="form-group label-floating ">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Profissão</font></font></label>
                            {{ form.profissao.errors }}
                            {{form.profissao}}
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Situação Ministerial</font></font></label>
                            {{ form.tipo.errors }}
                            {{form.tipo}}
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>   
                <h3> <i class="material-icons"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">map</font></font></i> Endereço</h3>
                <div class="row">
                    <div class="col-md-2">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cep</font></font></label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Rua</font></font></label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Nª</font></font></label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Bairro</font></font></label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="form-group label-floating is-empty">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cidade</font></font></label>
                            <input type="text" class="form-control">
                            <span class="material-input"></span>
                        </div>
                    </div>
                     <div class="col-md-2">
                        <div class="form-group ">
                            <label class="bmd-label-floating"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Estado</font></font></label>
                            {{form.uf}}
                            <span class="material-input"></span>
                        </div>
                    </div>
                </div>  
                <button type="submit" class="btn btn-round btn-rose  pull-right"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Cadastrar</font></font></button>
            </form>
        </div>
    </div>
</div>
{% endblock container %}